.vscode/

.env
.venv
*.zip
*.tar.gz
*.lcov
*.error
*.exit_code
*.not_applicable

*additional_information.csv
*commits.csv
*command_changes.csv
*old_commits.csv
*dashboard-index.json

**/tmp/
**/debug/
**/coverage/
**/logs/
**/logs_*/
**/repo/

node_modules/
**/node_modules/
**/__pycache__/