.vscode/

.env
.venv
*.zip
*.tar.gz
*.lcov


projects/**/execute.sh
projects/**/find-and-move-lcov.sh
projects/**/old_commits.csv
**/tmp/
**/debug/
**/coverage/
**/logs/
**/repo/

node_modules/
**/node_modules/
**/__pycache__/