gitdb==4.0.12
GitPython==3.1.46
iniconfig==2.3.0
lizard==1.21.0
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pathspec==1.0.4
pluggy==1.6.0
PyDriller==2.9
Pygments==2.19.2
PyYAML==6.0.1
pytest==9.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
semantic-version==2.10.0
six==1.17.0
smmap==5.0.2
tqdm==4.67.3
types-pytz==2025.2.0.20251108
